[2018-12-10 19:34] srokatonie opened #4 "Add new store"
Hi, I am looking to add store in Ireland. Can you tell how to find a store code?

I should add this to `./data/buCodes.csv` and `./data/stores.json` ?

[2018-12-11 08:42] Ephigenia commented on #4
Hi @srokatonie thanks for joining. If there are new stores they should be added to the `./data/stores.json` file. The CSV file next to it is just a legacy file which I created using google docs back then. It will be removed in one of the next versions.

Also please feel free to create a pull request with the new store in Ireland. You can test if your additions work by calling `npm start stores --

[2018-12-11 09:44] srokatonie commented on #4
Hi @Ephigenia,
How do you find Ikea store's buCode? Where do you get it from?

PS. I have an issue with listing stores from ST, ES (and possibly more) - blank result. I will have a look when pulling the repo and adding IE.

[2018-12-11 13:30] Ephigenia commented on #4
@srokatonie please provide your changes as a pull request then I can also have a look at it and give better feedback.

Back in the days the BU codes were clearly visible in the source code of the store location dropdown on a product’s detail page. Now it seems to be a bit more difficult by I think Belfast is buCode `038`.

[2018-12-12 09:49] srokatonie commented on #4
@Ephigenia I am actually looking for the Dublin's store code. I will contact their support.

[2018-12-12 13:00] Ephigenia commented on #4
@srokatonie there’s no need for asking them. 038 is the buCode for the Dublin store. I’m just preparing a pull request myself cause Ireland is not listed anywhere in the code and must be added in various locations.

[2018-12-12 13:10] Ephigenia commented on #4
I noticed that Ireland is a special case as some other countries too. They use a different endpoint of the iows API and must be requested and parsed differently. There needs to be more work done to support that. I’m sorry but at this time the integration is not easily done.

[2018-12-12 13:12] Ephigenia opened #5 "Support for new IOWS API"
Noticed in #4 some IKEA websites use another version of the IOWS interface. For example Ireland is requesting the availability information from here: https://www.ikea.com/ie/en/retail/iows/stores/038/item/SPR,29932181

An example response looks like this:

[code]

[2018-12-12 13:21] srokatonie commented on #5
@Ephigenia I get "Access denied" when hitting https://www.ikea.com/ie/en/retail/iows/stores/038/item/SPR,29932181

[2018-12-12 13:22] srokatonie commented on #4
@Ephigenia I'd be happy to contribute, I need this for one of my projects.

[2018-12-12 13:25] srokatonie commented on #5
@Ephigenia I'll see what I can do.

[2020-05-06 15:05] wootwoot1234 opened #8 "Can this give stock of online distribution center?"
I'm wanting to buy some smart blinds and the inventory online keeps showing up as available but when you go to buy it, the website says it's out of stock.  What I've noticed is that if you keep checking, more stock will become available and you are able to make the purchase.  Is it possible to use this tool to check that inventory?

[2020-05-22 02:53] patrys666 commented on #5
How to fix 403 error?

[2020-05-24 10:48] Ephigenia commented on #5
@patrys666 please provide more information about the 403 error you’re receiving. Please provide an example request URL and parameters or example call you’re making in the cli.

[2020-05-25 16:02] patrys666 commented on #5
@Ephigenia

[2020-05-25 16:31] Ephigenia opened #9 "403 Forbidden Error"
I’m opening up this issue first reported by @patrys666 in #5.

[2020-05-25 16:31] Ephigenia commented on #5
@patrys666 I’ve created a separate issue for the issue you reported in #9. Please refer to it.

[2020-05-25 16:34] Ephigenia commented on #9
Looking at the URL reported in the error message, you’re requesting the product with the id "90210490" in Poland (pl). To find out if there’s an issue I tried the same thing using the current version and it works:

[code]

Result:
[code]

@patrys666: How did you try to get the availabilities?

[2020-05-27 04:02] patrys666 commented on #9
It was my mistake. Everything is working fine, sorry!

[2020-05-27 08:48] Ephigenia commented on #9
No problem! Great to read that it seems to work now :)

[2020-05-27 08:48] #9 closed

[2020-05-27 08:49] #5 closed

[2020-06-16 07:53] #4 closed

[2020-06-16 07:54] Ephigenia commented on #8
@wootwoot1234 Thanks for finding out. Can you please provide some more information for me to be able to reproduce the effect. Please provide the product number and URL to the page that you’re checking.

[2020-06-16 12:56] wootwoot1234 commented on #8
Thanks, it would be super helpful to have a way to check the online inventory of these items.  It always says it's available on the product page but when you go to buy it, it often says it can't deliver it.

This is one of the items I'm looking at (smart blinds 38").  Currently says it's in stock online.  If you add it to your cart it will also offer delivery.

https://www.ikea.com/us/en/p/fyrtur-

[2020-06-23 03:01] mitpianoman opened #10 "Can't search by store ID"
Thanks for putting this together. I apologize if I'm doing something incorrectly here but I can't seem to get this to run whenever I pass the "store" parameter, as shown in the docs. For instance, this works fine:

`% npm run start -- stock --country=ca 40413131

┌──────────────────────────┬─────────────┬─────────┬──────────┬──────────────────┬──────────────┬───────┬─────────────┐
│ date

[2020-06-23 03:03] mitpianoman opened #11 "US search not working"
Logging a separate issue to follow-on to my previous one, when I try to enter the country code "us", I get the following error:

`% npm run start -- stock --country=us 40413131

(node:16663) UnhandledPromiseRejectionWarning: Error: Unable to receive product 40413131 availability for store 250 status code: 410.
    at /Users/abc/projects/ikea/node_modules/ikea-availability-checker/source/lib/iows2.

[2020-06-23 03:08] mitpianoman commented on #11
FYI if I remove store #250 from stores.json, things work fine. It seems to be an exception that applies only to that store.

[2020-06-23 21:40] Ephigenia commented on #11
Thanks for the input. I’m going to check this tomorrow

[2020-06-28 15:54] #11 closed

[2020-06-28 15:55] Ephigenia commented on #11
Thanks @mitpianoman for finding out which store buCode was wrong. Apparently IKEA changed their Seattle Store to be called "Renton" now … with a different buCode. Fixed in master.

[2020-06-28 15:59] #10 closed

[2020-06-28 16:03] Ephigenia commented on #8
I’m still having trouble to reproduce the issue. I’m from Germany so maybe I’m not seeing the same effect as you do. I tried to put the blinds in the cart and continue to order but can’t see a message that they cannot be delivered anymore.

[2020-06-28 16:12] wootwoot1234 commented on #8
Here are examples of the blinds that can't be delivered and another product that can.  You can only see that they can not be delivered once you add them to your cart and try to purchase them.

Blinds:
![Screen Shot 2020-06-28 at 11 08 39 AM](https://user-images.githubusercontent.com/419609/85952587-fdbf5e00-b92f-11ea-90a3-16cf7a73deb8.png)

Other product that is in stock (Trofast shelves)
![Screen

[2020-06-30 07:05] Ephigenia commented on #8
Thanks for the screenshots, I'll try to find something.

[2020-06-30 10:57] wootwoot1234 commented on #8
Thank you, I really appreciate it!

On Tue, Jun 30, 2020 at 2:05 AM Marcel Eichner <notifications@github.com>
wrote:

[2020-07-29 10:25] martinstoyanov opened #12 "Cannot read property 'toISOString' of undefined"
This issue arises sometimes, not every time but once it is there it keeps on happening.

Query: ```npm run start -- stock --country us S19282863```

Output:

[code]

I'm on the latest version. Thanks!

[2020-07-31 18:07] eslendil commented on #12
how do you run this ?

[2020-07-31 21:20] Ephigenia commented on #12
I‘ll check this later. Probably an empty or invalid response. Needs debugging in the response handling.

[2020-08-02 19:49] mitpianoman commented on #10
Thanks for fixing. I can confirm the example used is fixed in the current version. One minor issue that remains is that multiple store search still returns no results, for example:

[code]

Checking just one store or the other, however works fine.

[code]

[2020-08-04 18:34] djonepl opened #13 "Missing store,"
It looks like Store 537 FL, Jacksonville is missing from the list.

Thanks.

[2020-08-04 18:36] #13 closed

[2020-08-10 16:45] Ephigenia commented on #12
Thanks for finding this.

Unfortunatly I’m not able to reproduce the issue by running the command this time:
[code]

However, I think that the issue might be caused by an response that contains unexpected data and/or nested objects which result to an `availability` which is `undefined`.

Can you please run the command again using the DEBUG environment variable to get some more debug information ab

[2020-08-17 15:46] ss-marie opened #14 "Refusing to install package with name "ikea-availability-checker" under a package also called "ikea-availability-checker""
I have the latest version of ikea-availability-checker and the current recommended version of node.js, 10.16.3. When I run `npm install ikea-availability-checker` per the Installation section of the readme, I get the following error:

[2020-08-17 15:48] Ephigenia commented on #14
@ss-marie the error message reads like you’re trying to install the package in a package which is using the same name. Try renaming your package / directory to a different than "ikea-availability-checker".

[2020-08-17 15:59] Ephigenia commented on #14
Just to be sure I tried it myself:

[code]

See: https://www.google.com/search?q=code+ENOSELF

[2020-08-17 15:59] ss-marie commented on #14
@Ephigenia The directory name was originally the default after cloning from GitHub, "ikea-availability-checker". I renamed the directory but I am still getting the same error.

I have also tried renaming the package name inside package.json. In that case, the install command succeeds. However then when running the app with `npm run start -- stores at` I get the following error, so I don't think I

[2020-08-17 16:00] Ephigenia commented on #14
@ss-marie if you cloned the repo you won’t need to install it via `npm install ikea-availability-checker` as the directory already contains the sources of the project.

[2020-08-17 16:14] ss-marie commented on #14
@Ephigenia Thanks for your response. Unfortunately even if I leave the package and app name the same as the default after cloning the source, I am unable to run the app using `npm i` and `npm run start -- stores at` as I get the same error above with code MODULE_NOT_FOUND.

[2020-08-17 16:23] Ephigenia commented on #14
I only can make assumptions here as I’m not sure what you're planning to do. The things you wrote either read as if you’re planning to contribute something to the project (by mentioning "clone") - on the other hand it seemed like you’re have a modified `package.json` in the cloned project which would conflict with your plans.

If you’re trying to contribute, I assume that you’d do the following:

[2020-08-17 16:25] Ephigenia commented on #14
It looks like the README.md is not clear about this. I’ll try to make an update to get this more clear.

[2020-08-19 18:48] Ephigenia opened #16 "stock availability with buCode only doesn’t work"
Though the store’s buCode also defines the country the store is in the following call doesn't return any result:

[code]

probably caused by `getStoresMatchingQuery` not returning any stores.

[2020-08-19 18:54] Ephigenia commented on #14
@ss-marie please check the README on the development branch: https://github.com/Ephigenia/ikea-availability-checker/tree/development

Does it get more clear now?
I’d be happy if you could confirm - also that everything is fine for you now - to be able to close this issue?

[2020-08-19 19:40] Ephigenia commented on #16
fixed in master/development and latest release

[2020-08-19 19:40] #16 closed

[2020-08-19 20:11] Ephigenia commented on #12
@martinstoyanov can you please confirm that the issue is still happening or not. I’ll like to close this issue in some time when the problem is not active at the moment.

[2020-08-19 20:13] Ephigenia commented on #8
@wootwoot1234 can you please try to re-run the command you did last time with the latest version please and report the exact call and the result? I made some updates which with low probability may have fixed this issue …

I’m still assuming you’re running something like:

[code]

and

[code]

Please provide alternate command that you’re using …

[2020-08-26 08:18] Ephigenia commented on #14
Closing this now.

[2020-08-26 08:18] #14 closed

[2020-08-26 08:18] #12 closed

[2020-08-29 16:45] wcauchois opened #17 "Use as a library"
It doesn't seem like this code is usable as a library. Would you consider adding the ability for this to be used as a library, as well as a CLI program?

[2020-08-29 19:53] Ephigenia commented on #17
Sure

[2020-08-30 09:45] maxkratz opened #18 "Error: 'ikea-availability-stock' does not exist"
Hello all,

I've installed the package within a docker container with the following settings:
* ubuntu 20.04
* nodejs v10.19.0
* npm v6.14.4

To install the checker, I've used the following command ``` npm install -g ikea-availability-checker ``` which gives me a warning:

Although ``` ikea-availability --help ``` outputs the correct help section of the program, ``` ikea-availability stock at ```

[2020-08-30 10:08] Ephigenia commented on #18
@maxkratz looks like one of the packages "csv-string" has a minor version that the one mentioned in the package.json. I’ll try to find a solution to that. Please understand that I’m new to this kind of issues.

[2020-08-30 10:15] maxkratz commented on #18
@Ephigenia Thank you for looking into this! Would you say that the error at running the ``` stock at ```-command occurs because of the version mismatch?

[2020-08-30 10:22] Ephigenia commented on #18
@maxkratz parts of. I think you can fix the issue by updating the node version to >12.

- "csv-string" is trying to force a node version >12 (https://github.com/Inist-CNRS/node-csv-string/blob/master/package.json#L82)
- "commander" doesn’t do that but might have features / code included that uses features beyond node 6 (https://github.com/Inist-CNRS/node-csv-string/blob/master/package.json#L82)

I

[2020-08-30 10:36] maxkratz commented on #18
@maxkratz I've upgraded to node v12.18.3, which gives me another error while installing the package:

The error at running ``` ikea-availability stock at ``` persists.

[2020-08-30 14:12] Ephigenia commented on #18
Yes, that’s right. I can confirm the problem is in the current `package.json` which requires "^10.17" as version which doesn’t get satisfied with the "12.18.3" caused by the "^". I’ve changed the "engine.node" version to be ">10" which now should work. Please try again with the current version of master.

[2020-08-30 14:43] Ephigenia commented on #17
The first issue identified seems to be that the `"main"` entry in the `package.json` points to the `source/cli.js` script which becomes the file that is loaded when `require('ikea-availability-checker');` is loaded: https://github.com/Ephigenia/ikea-availability-checker/blob/master/package.json#L39

I’ll have to check what’s the most common cause to solve this. Sure there’ll be a solution.

[2020-08-30 15:32] maxkratz commented on #18
First of all: I have typos in my previous comments in this issue: ``` ikea-availability stock at ``` -> ``` ikea-availability store at ```.

I've tried two ways of installing it:
* Without cloning the repository and installing it via ``` npm install -g ikea-availability-checker ```. This gives me the same error as before.

(Perhaps the change on master branch was not propagated to npm package dist

[2020-08-30 16:01] Ephigenia commented on #17
I’ve been thinking about this. The most anticipated feature I can think of would be "What’s the current item in Store B of product A" … which could look like this:

[code]

What bothers me is the question of how the user/programmer knows about the buCode. There are several lookup functions in the [stores](https://github.com/Ephigenia/ikea-availability-checker/blob/master/source/lib/stores.js) but

[2020-08-30 16:06] Ephigenia commented on #18
that's what it is, I was hoping you can manage to test it without publishing a new version of the package.

You can install the version from master by running:

[code]

[2020-08-30 17:34] maxkratz commented on #18
Okay, that makes sense to me!

I've tried the command (includig a ```-g```) and got this output:

Does this mean, that my version of npm is too old? I think it is the most recent version out according to their page: https://www.npmjs.com/package/npm

Anyway, if I run the command to get a list of all stores in Austria, I get the following output:

I've also tried some other variants like ```ikea-av

[2020-08-30 20:55] eddienunez opened #19 "Add support for Dublin store"
Hello, would it be possible to add support to this awesome tool for the IKEA in Dublin Ireland ?  The store id is 038.  Thanks.

[2020-08-31 18:03] #19 closed

[2020-08-31 18:13] Ephigenia commented on #18
@maxkratz I’ve published a new version v0.4.5 on npm. Please try again. Sorry for the trouble.

[2020-08-31 18:31] Ephigenia commented on #19
@eddienunez I’ve added dubline to the stores list. You should be able now to search products in the dublin store.

[2020-09-01 07:15] maxkratz commented on #18
Thank you for responses!

```ikea-availability --version``` gives me ```0.4.6```, therefore the installation of the new version worked without an error:

[code]

Although the command ```ikea-availability stores at``` gives me the same error as before:
[code]

[2020-09-01 07:39] Ephigenia commented on #18
@maxkratz thanks for testing again, I’ll look into it as soon as I can

[2020-09-02 05:15] Ephigenia commented on #18
@maxkratz that’s a known issue with a workaround in the commander package which happens when a package uses differently named sub-command executable files than the main command. That is now fixed with https://github.com/Ephigenia/ikea-availability-checker/commit/da8bc52f78de85828c33a724b25fc5b508ce2d75

Try the new version v0.4.7 and I hope it works

[2020-09-02 07:37] maxkratz commented on #18
@Ephigenia I can confirm, that it works as expected now! One sidenote: The program needs ```node-fetch``` installed. (Just in case some other people get a ```MODULE_NOT_FOUND```-error.)

Thank you again for your work and the quick responses!

[2020-09-02 07:37] #18 closed

[2020-09-02 07:47] Ephigenia commented on #18
@maxkratz thanks for the hint, somehow i didn’t see that "node-fetch" was added as devDependency, I’ll fix that!

[2020-09-02 07:50] Ephigenia commented on #17
@wcauchois I’ve published a new version v0.5.0 which you now can use in your library. See the example in the README.md: https://github.com/Ephigenia/ikea-availability-checker#api

[2020-09-02 07:58] #17 closed

[2020-09-03 14:30] wcauchois commented on #17
That's great! Thank you @Ephigenia.

[2020-09-18 08:12] hugodecasta opened #24 "Wrong method calling"
[code]

Apparently the `store` object does not contain `getStoreById` anymore but `findById` instead

[code]

[code]

[2020-09-18 08:15] hugodecasta opened #25 "find stor by ID returns wrong type of object"
[code]

It seems that `stores.findById` returns an array of stores, this is why the below code throws an error
[code]
the object `store` is an array, not an object containing `countryCode` resulting in an undefined value, handled by the asserter as an error

[2020-09-18 09:55] #24 closed

[2020-09-18 09:57] Ephigenia commented on #25
`stores.findById` takes an array of buCodes and returns all stores found where buCode is matching.
You can use `findOneById` which takes one buCode and returns one Store instead.

[2020-09-18 09:57] #25 closed

[2020-09-18 09:58] Ephigenia commented on #24
Thanks for pointing that out. I’ve changed the name of the method to more match the others in the stores class and forgot to change it there. This is fixed in 0.6.1

[2020-09-27 10:54] remjln opened #26 "IKEA Store missing and error"
Hello,

I would very like to use this API but I have some issues:
1. This store (https://www.ikea.com/fr/fr/stores/grand-parilly/) is missing in the French stores list (when typing the command `npx ikea-availability-checker -- stores fr` it doesn't show up)
2. Don't know if its related but checking the stock of a product on all the French stores (`npx ikea-availability-checker -- stock --country f

[2020-09-27 17:42] Ephigenia commented on #26
1. The Store is not in the [list of stores](https://github.com/Ephigenia/ikea-availability-checker/blob/master/source/data/stores.json). The "store" command requires the store to be known to that list. I’ve added "Grand Parilly" to the list in the "develop" branch and it will be part of the next patch release
2. I’m still checking what’s going on there …

[2020-09-27 17:54] Ephigenia opened #27 "Handle unparsable but valid response"
In some cases (at least one, indicated in #26) the IKEA iows API replies with a different JSON format than expected. In that case an exception is thrown while there are other stores valid. There should be a special soft-handling of unparsable json response formats which results in a similar output like a 404 (cli-stock.js:122) so that it’s possible to find out which store raises the error.

[2020-09-27 17:55] Ephigenia commented on #26
The second error happens when the application checks the availability for the product in Paris Ouest, Vélizy which has a totally different and unexpected response format. I created a new issue to soft-handle such cases: #27 until this is resolved I’ll remove Paris Ouest from the list of stores.

[2020-09-27 18:07] Ephigenia commented on #26
Found a nice way for handling such issues when requesting stock numbers for a whole country. If there’s a parse error (valid JSON but not the expected structure) there’s a entry in the table with "probability: "PARSE_ERROR".

[2020-09-27 18:07] #27 closed

[2020-09-27 18:09] Ephigenia commented on #26
Thanks for noticing both things. I really appreciate it!

I’ve published a new version: 0.6.2 to npm. Feel Free to use :)

[2020-09-27 18:10] #26 closed

[2020-11-11 22:54] frafra opened #29 "Markdown reporter"
Hi!
Thanks for sharing the code of your nice project! :-)
I was wondering if you were willing to add a reporter for generating Markdown/CommonMark tables.

[2020-11-11 22:56] Ephigenia commented on #29
Sure! How would you like to have it? Please post example

[2020-11-12 09:02] frafra commented on #29
I think you can still use `cli-table` but with a different set of characters: https://github.com/cli-table/cli-table3#custom-styles

Tables are an extension of the CommonMark standard, used by GitHub and others: https://github.github.com/gfm/#tables-extension-

You could try with something like this (not tested):
[code]

No top, no bottom, `mid` is `-`, `left*` is `| `, right is ` |` and `mid-mid`

[2020-11-17 09:49] Ephigenia commented on #29
@frafra instead of implementing this I’d rather share the following approach which combines the output in json format with [jq](https://stedolan.github.io/jq/) and prints a table in markdown format:

[code]

This would result in:

[code]

using jq, awk gives you more flexibility in deciding which columns should be shown in which order.

Would that help you or do you still need a markdown output? A

[2020-11-19 14:42] frafra commented on #29
Sure, jq and awk are wonderful and flexible tools. Still, something that would be missed compared to using `cli-table` is having the columns aligned.
I just wanted to generate a markdown file from time to time to be displayed on a webserver capable of rendering markdown pages, or just using pandoc to generate html pages.

[2020-12-03 20:45] Ephigenia commented on #29
@frafra there was no feedback so far from other users, please provide a fork or merge-request …

[2020-12-09 10:11] Ephigenia commented on #29
@frafra I’ve enabled github discussions for this repo. Feel free to post your proposal again over there.

[2020-12-09 10:11] #29 closed

[2021-01-13 07:29] cdrfun commented on #8
At first, I want to thank you for the great work! Perhaps I can help with the issue, as I had the same question, and I'm also located in Germany.
If I currently want to buy this Item, it says available at the truck icon:
![grafik](https://user-images.githubusercontent.com/146877/104419080-3e9f5d00-5578-11eb-9579-eacac73056bf.png)

After adding my other items I go to checkout:
![grafik](https://use

[2021-01-13 10:41] Ephigenia commented on #8
Thanks for the additional info. I’ll have a look when I find time but I guess that the information for delivery is completely different from the store availability.

[2021-02-19 09:46] vrslev commented on #8
You are not wrong. This uses different API. I didn't find anything interesting in IOWS and Mobile API responses.
Also noteworthy: in my country (Russia) have appeared new warehouses specially for online shopping. And IKEA now uses both these warehouses and ordinary shops.

[2021-02-21 10:29] Ephigenia commented on #8
@vrslev thanks for checking.

I’m not sure on how to continue with this. As me and you haven’t found real clues on how to get information from that new unknown API I’d like to close this as it’s not clear on how to solve this.

[2021-02-21 10:29] #8 closed

[2021-02-22 11:44] Ephigenia commented on #8
@vrslev please check https://github.com/Ephigenia/ikea-availability-checker/discussions/36

[2021-02-22 11:53] vrslev commented on #8
Couple of days ago I tried to reproduce result of unavailable items with this API and didn't have any luck. Results are different from the one that is in cart

[2021-03-23 11:20] stevenpcc commented on #5
I wrote some software that used this API a few years back. Here are the headers I used. They worked consistently and never had to be updated.

`{ 'Consumer' => 'MAMMUT', 'Contract' => '37249', 'Accept' => 'application/vnd.ikea.iows+json;version=1.0', 'Origin' => 'https://order.ikea.com', 'Referer' => 'https://order.ikea.com/gb/en/checkout/shoppinglist/' }`

[2021-03-29 08:31] Ephigenia opened #43 "new: integrate online stock api"
Integrate the online store api by reverse engineer the ingka API. There’s a proof of concept in the discussion: https://github.com/Ephigenia/ikea-availability-checker/discussions/36

[2021-03-29 08:33] #43 closed

[2021-05-10 05:17] Ephigenia opened #45 "update to node 14+"
## Context

Node.js v10 has been going out of LTS.
See stats: https://nodejs.org/metrics/summaries/version.png

## Description

there should be a breaking release using node 14 LTS

[2021-05-11 12:00] Ephigenia opened #48 "replace --reporter with --plain, --json and --pretty"

[2021-05-14 11:42] #45 closed

[2021-05-14 11:42] #48 closed

[2021-05-26 09:46] nick2k3 opened #51 "error while querying Belgian stores"
Hi,
I have recently submitted a PR for adding the belgian stores( #50 ).
I have seen that it has been merged immediately, brilliant!
However I thought I am having trouble using the recently added stores:

If I run:

`ikea-availability stock --country be 30346934`

I get the following output:

[code]

I think the issue might be in the URL that is being called:
https://iows.ikea.com/retail/iows/be/*

[2021-05-26 11:37] Ephigenia commented on #51
yes that’s right. Thanks for the stack trace. I think I can fix this by adding the fr or nl code when be is requested.

[2021-05-26 11:44] #51 closed

[2021-05-26 11:48] Ephigenia commented on #51
you’re welcome :)

The headers you mentioned are correct. I guess only the URL was wrong.

[code]
(you can import requests from curl notation into postman)

[2021-09-09 03:13] g4m3r7ag opened #57 "Some item's showing Not Found"
**Describe the bug**
Certain items have begun showing "Not Found" when queried via the API but when I search those items on the Ikea website they show up without issue. This is for queries to US stores. I have not checked for other countries. A week ago this issue was not occurring and was showing expected results/restock dates and projections just fine. This does not happen on all items only some

[2021-09-15 14:32] Ephigenia commented on #57
Not found may be misleading here as this error code is shown if the api replies with an unexpected http response code. I will need to debug the underlying API request to guess further details on this.

[2021-09-15 16:29] g4m3r7ag commented on #57
Some more ids

10467941
30467935
10467936

[2021-09-24 01:36] g4m3r7ag commented on #57
Those items are all returning results now.

[2021-09-24 01:36] #57 closed

[2021-09-29 12:52] bojomojo opened #60 "Would this work for ikea germany?"
Would this work for ikea germany?

[2021-09-29 16:46] Ephigenia commented on #57
Okay, thanks for checking, that seemed to be a temporary issue then.

[2021-09-29 16:49] Ephigenia commented on #60
The IKEA IOWS API supports various countries. You can find a list in the project’s [README](https://github.com/Ephigenia/ikea-availability-checker#features). Germany is one of them.

Example showing availability for all german stores:

[code]

you can also specify a city name:

[code]

As this is no issue I’d recommend next time posting this in [Discussions](https://github.com/Ephigenia/ikea-avail

[2021-09-29 16:49] #60 closed

[2021-10-01 11:45] bojomojo opened #61 "Check online store stock"
Can this also be expanded to return the online store stock? or is it only actual branch locations only?

[2021-10-01 15:42] Ephigenia commented on #61
There’s a discussion over here: https://github.com/Ephigenia/ikea-availability-checker/discussions/42 you can upvote the discussion so that this feature become more important.

[2021-10-01 15:42] #61 closed

[2021-10-12 11:43] bojomojo opened #62 "Support Abholstation availability"
Some countries like germany and Austria have also the option to pickup from Abholstations "Pickup stations". Can this be added as well?

[2021-11-03 10:48] Ephigenia opened #66 "Setup Semantic Release"
Setup semantic release with

master -> channel: latest
develop -> channel: beta
next -> channel: next

[2021-11-23 15:22] #66 closed

[2021-11-23 15:25] Ephigenia opened #69 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-11-29 17:35] #69 closed

[2021-12-12 15:05] guedou opened #72 "A Paris store is missing"
First of all thanks a lot for this tool! It is really useful.

**Describe the bug**
The "Rivoli" store is missing in `stores.json`.

**To Reproduce**
Use the following command:
[code]

**Expected behavior**
[code]

**Possible fix**
Here is the patch that I used to fix this issue:
[code]

[2021-12-12 22:26] Ephigenia commented on #72
@guedou feel free to provide a pull request with the diff you provided?

[2021-12-13 09:36] apphancer opened #73 "Home Delivery Availability"
In an age where more and more shopping happens online, I think many people will find it useful to check Home Delivery Availability.

Is there currently a way to check for Home Delivery Availability within a country? If not, would be possible to have this option added if IKEA provides this information through their endpoints?

I think this works slightly differently as some countries (GB, DE...) re

[2021-12-13 15:46] Ephigenia commented on #73
That topic is mentioned quite sometimes here. There are other solutions that use the cart API … check the discussions thread over here: https://github.com/Ephigenia/ikea-availability-checker/discussions/42

[2021-12-13 22:05] #72 closed

[2021-12-14 09:35] Ephigenia opened #76 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-12-14 09:35] Ephigenia commented on #72
:tada: This issue has been resolved in version 1.0.2 :tada:

The release is available on:
- [npm package (@next-major dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.0.2)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-14 09:35] #76 closed

[2021-12-17 05:42] aythan opened #78 "AU Stores"
Hi there,

Looks like not all AU stores are returned from executing ikea-availability stores au

countryCode │ country   │ buCode │ name        │
├─────────────┼───────────┼────────┼─────────────┤
│ au          │ Australia │ 451    │ Canberra    │
├─────────────┼───────────┼────────┼─────────────┤
│ au          │ Australia │ 460    │ North Lakes │
├─────────────┼───────────┼────────┼─────────────┤

[2021-12-17 09:27] Ephigenia commented on #78
@aythan I can add the Adelaide store later today …

[2021-12-17 09:33] aythan commented on #78
You absolute legend!

[2021-12-17 11:18] Ephigenia commented on #78
I found there are even more stores in Australia … I’ll try to add them all

[2021-12-17 14:27] Ephigenia opened #79 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `1.0.x` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2021-12-17 14:38] Ephigenia commented on #78
@aythan when did you try out to get the availabilities for the Australian stores? I’m getting a deprecation error for all of them now

[2021-12-17 14:38] #79 closed

[2021-12-17 14:42] #78 closed

[2021-12-17 14:43] Ephigenia opened #82 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `1.0.x` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2021-12-17 14:44] Ephigenia commented on #78
:tada: This issue has been resolved in version 1.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.0.4)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-17 14:44] #82 closed

[2021-12-26 21:49] #73 closed

[2022-01-09 19:57] frafra opened #86 ""stores at" return testing/garbage output"
**Describe the bug**
[code]

[2022-01-09 21:45] Ephigenia commented on #86
Ah sorry that is from the colors package I‘ll fix this tomorrow.
See https://github.com/Marak/colors.js/commit/074a0f8ed0c31c35d13d28632bd8a049ff136fb6

[2022-01-10 10:35] Ephigenia commented on #86
@frafra should be fixed with the latest release 1.0.6

[2022-01-10 10:35] #86 closed

[2022-01-10 10:47] frafra commented on #86
It works, thank you :)

[2022-01-10 14:25] d0mmi opened #87 "Typescript support"
Adding Typescript declarations would be very helpfull

[2022-01-11 05:28] freddy4711 opened #88 "Wrong Coordinates for store in Karlsruhe"
**Describe the bug**
The coordinates of the store in Karlsruhe are wrong
`
{
    "buCode": "551",
    "name": "Karlsruhe",
    "coordinates": [
      38.925,
      45.0125
    ],
    "countryCode": "de"
  }
`
Based on Google maps the coordinates should be
`8.4420776, 49.0048648`

[2022-01-11 10:39] #88 closed

[2022-01-11 10:42] Ephigenia commented on #88
:tada: This issue has been resolved in version 1.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.0.7)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 16:29] Ephigenia commented on #87
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.1.0)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-20 12:26] nicoske opened #92 "SyntaxError: Unexpected token '.'"
**Describe the bug**
Cannot check stock - SyntaxError

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Client (please complete the following information):**
Debian Bullseye
NodeJS v12.22.5
Installed from npm

[2022-02-20 12:32] nicoske commented on #92
My bad.. Didn't noticed the required node version

[2022-02-20 12:32] #92 closed

[2022-02-20 16:43] Ephigenia commented on #92
@nicoske which node version where you using?

[2022-02-20 22:17] nicoske commented on #92
@Ephigenia 12.22.5 which is shipped with Debian 11

[2022-02-20 22:31] nicoske opened #93 "403 for all request to BE stores"
It seems that all request to Belgian stores are failing with a 403. I did tested the same request using other countries (it, be, fr, de) and they worked. Not sure what the problem is.

[code]

[code]

[2022-02-24 13:17] Ephigenia commented on #93
Thanks for finding this. I can confirm that this also happens on my machine. I’ll try to find out what’s going on there.

[2022-02-24 13:46] #93 closed

[2022-02-24 13:47] Ephigenia commented on #93
Requesting the availability for Belgian stores results in 403 status messages. In the past, this was temporary and gone after a few days. It also could be that this is a permanent issue as IKEA seems to change its APIs.

[2022-02-27 11:27] Ephigenia commented on #93
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.1.1)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-21 07:41] sammyke007 commented on #93
I still seem to get 403 error in Belgian stores...
Checking in NL (Netherlands) works perfectly fine however.

![image](https://user-images.githubusercontent.com/33524412/159220875-07428d04-38c2-405b-b09b-407bad7f359a.png)

[2022-03-21 09:03] Ephigenia commented on #93
@sammyke007 I can confirm that I get the same results and the product number is okay. I’ll investigate this further as soon I find some time. I can also confirm that no other randomly used product number worked, and also received a 403. Maybe that is a bigger issue.

[2022-03-22 16:57] RCRalph opened #98 "Szczecin store not visible in the software"
**Describe the bug**
Szczecin store doesn't appear when running `ikea-availability stores pl` or any other command.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `ikea-availability stores pl`
2. See the lack of Szczecin store

**Expected behavior**
Szczecin store is being checked by the software

**Screenshots**
[code]

**Client (please complete the following information):**
- OS: Linu

[2022-03-22 16:59] Ephigenia commented on #98
@RCRalph do you know the ID (buCode) of that store? If so, Me, or even you can add this to the list of stores: https://github.com/Ephigenia/ikea-availability-checker/blob/master/source/data/stores.json

[2022-03-22 17:10] #98 closed

[2022-03-22 17:27] Ephigenia commented on #98
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ikea-availability-checker/v/1.1.2)
- [GitHub release](https://github.com/Ephigenia/ikea-availability-checker/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-01 07:28] BHSPitMonkey commented on #93
I recently started having the same issue too (for all US stores I've tried, and one I was successfully periodically checking previously). Seems like they've broken public access to the API?

[2022-04-02 07:04] ad2001 opened #100 "403 for all request to US stores"
Similar to https://github.com/Ephigenia/ikea-availability-checker/issues/93, All US stores are returning 403 error code starting probably a couple of days ago. Someone has already reported the same issue in that closed issue: https://github.com/Ephigenia/ikea-availability-checker/issues/93#issuecomment-1085531238

[2022-04-05 20:11] JK-TC commented on #100
Looks like IKEA has changed up their API. Subscribing in hopes that somebody finds a workaround.

[2022-04-13 07:34] Ephigenia commented on #100
Yes, more and more countries don’t work anymore. I’m planning to create a smoke test shell script that tests every country and puts the results in a table. If someone wants to contribute … it‘s welcome :)

[2022-04-14 19:46] okniazik commented on #100
All PL stores are returning 403 error code too...

[2022-04-17 05:31] derpingit commented on #100
subbed. same problem. hope this project gets revived.

[2022-04-17 14:07] JK-TC commented on #100
For those that are just hopiing to check for availablity on a specific product, I found an endpoint that works. It's the one that is getting called from the product page on their site (USA). I'm sorry, I'm not able to see how this works for other countries right now, but hopefully it helps some people out or starts them down the right path.

Here's an example request:
`https://api.ingka.ikea.com/c

[2022-04-17 14:39] Ephigenia commented on #100
@JK-TC thanks for that hint! I’ll investigate this

[2022-04-17 14:54] Ephigenia commented on #100
The api.ingka.ikea.com API doesn’t support all details but at least the current stock available for pickup and the restore probability.

The API requires just the "x-client-id"-header to be present and contain a valid API key. For US stores the API key used in the Browser is "da465052-7912-43b2-82fa-9dc39cdccef8" and works:

[code]

[code]

I’ll make adjustments to the code so that this API also w

[2022-04-17 17:22] Ephigenia commented on #100
The ingka api works for all countries except for russia:

| countryCode | iows2 | ingka |
|-------------|-------|-------|
| at          | ✓     | ✓     |
| au          | ✓     | ✓     |
| be          | ✗     | ✓     |
| ca          | ✓     | ✓     |
| ch          | ✓     | ✓     |
| cn          | ✗     | ✓     |
| cz          | ✓     | ✓     |
| de          | ✓     | ✓     |
| dk          | ✓

[2022-04-17 17:43] derpingit commented on #100
Hi @Ephigenia  thank you very much for this wonderful project. Could you plz point me In the right direction on how to mod the script to use that API ? I'm a non-programmer searching us stores . Stay awesome

[2022-04-17 20:53] Ephigenia commented on #100
This package uses the undocumented iows2 api by IKEA which doesn’t work for several countries anymore: be, cn, fi, fr, gb, hk, ie, jp, kr, my, pl, ru, sg, th, tw, us

If you want to get availabilities for those countries please consider testing the alpha channel of this package by installing the "2.0.0-alpha.1" version:

[code]

Please report any bugs related to this alpha in the issues: https://g

[2022-04-17 20:53] #100 closed

[2022-04-17 20:55] Ephigenia commented on #100
Please consider rating this package: https://openbase.com/js/ikea-availability-checker 🙇‍♂️

[2022-04-19 01:30] BHSPitMonkey commented on #100
Thank you!

Note: There's a typo in the `npm` command in the above comment. It should read:

[code]

(`check` -> `checker`)

[2022-04-19 08:28] Ephigenia commented on #100
@BHSPitMonkey thanks! Got it fixed.

[2022-04-21 12:26] okniazik commented on #100
Hi, I'm trying to test the alpha channel, and I do `npm run start -- stock --country pl 80382321`. Got an error `npm run start -- stock --country pl 80382321`

[2022-04-21 14:36] Ephigenia opened #107 "undefined "stock" in alpha version"
Original report from @[okniazik](https://github.com/okniazik) in https://github.com/Ephigenia/ikea-availability-checker/issues/100#issuecomment-1105147414

[code]

- OS: OSX
- Version 2.0.0-alpha.1

[2022-04-21 14:42] Ephigenia commented on #100
@okniazik I’ve created an issue for this, will be fixed in a few minutes …

[2022-04-21 15:04] Ephigenia commented on #107
Issue fixed in new alpha release …

[code]

[2022-04-21 15:04] #107 closed

[2022-05-08 08:09] hsubtil opened #108 "undefined store for fr country"
There is a issue on french contry requests, for exemple : `npx ikea-availability-checker@2.0.0-alpha.1 stock --store 562 80382321` will throw an issue on buCode.

[code]

After investigating there is a undefined store.

![image](https://user-images.githubusercontent.com/30028109/167287289-45fe82c9-7762-4b3f-a7c6-24a12c8344c0.png)

Is it possible to add a small verification on this find ?

[code]

[2022-05-08 17:36] Ephigenia commented on #108
Ah, that must be an unknown store. I'll try to find out which one that it is and add it to the list of stores. Also, I’ll try to prevent this bug from happening in the future.

[2022-05-08 17:37] Ephigenia commented on #108
@hsubtil thanks for the bug report!

[2022-05-15 10:36] Ephigenia commented on #108
The Store "Nice Saint Isidore" with the buCode 518 was missing in the list of stores. I’ve added the store in the alpha branch which triggered a new release. Should be fine now with: `npx ikea-availability-checker@2.0.0-alpha.3 stock --store 562 80382321`

[2022-05-15 10:40] #108 closed

[2022-06-05 09:05] okniazik opened #111 "ERR_HTTP_403 with pl country"
npx ikea-availability-checker@2.0.0-alpha.2 stock --country pl 80382321

ERR_HTTP_403

[2022-06-05 15:47] Ephigenia commented on #111
I was trying to run the command that you provided and get results from all the 10 IKEA stores in Poland. Also you might want to try the latest beta, which is the "alpha.3" … maybe that helps:

[code]

[2022-06-11 13:21] Ephigenia commented on #111
@okniazik did you had the chance to test it again?

[2022-06-11 19:31] okniazik commented on #111
Yeah, looks like it works now. Thank you!

[2022-06-11 21:03] Ephigenia commented on #111
@okniazik fantastic! Thank you for your feedback. I’m closing this then.

[2022-06-11 21:03] #111 closed

[2022-06-17 07:46] allbrus opened #113 "Error "ERR_HTTP_403" on 2.0.0-alpha.1 version"
Please find the attachment with the error displayed. It appears after typing this command:
npx ikea-availability-checker@2.0.0-alpha.3 stock --country pl 80382321

Tell me how can I fix it, please.

![ERR_HTTP_403](https://user-images.githubusercontent.com/32027656/174249971-408e23b4-9926-4757-baaa-3d8f90df3640.jpg)

[2022-06-22 17:45] Ephigenia commented on #113
@allbrus anything new here?

[2022-06-29 03:29] allbrus commented on #113
Unfortunately still the same.
![ERR_HTTP_403 (2)](https://user-images.githubusercontent.com/32027656/176345145-41881e2f-58fc-479b-8c65-a27a507dfc6f.jpg)

[2022-06-29 21:17] Ephigenia commented on #113
@allbrus thanks for your feedback, as I’m seeing you’re also getting some errors or notifications logged in your shell. It’s still working for me so there must be another reason for this to fail. Maybe I can check if there’s a different API Key used from the PL ikea site.

Did you manage to get any other query to work or please can you try the following thing to query stuff from other countries?
[

[2022-07-02 21:56] mochixo commented on #113
I am also getting the same "ERR_HTTP_403" when using npx ikea-availability-checker@2.0.0-alpha.3 stock --country us 40263848
![image](https://user-images.githubusercontent.com/108594530/177017186-6e935444-1bcd-4d7a-8b98-68c48dacca24.png)

[2022-07-08 09:16] allbrus commented on #113
![ikea err http 403 jul2022](https://user-images.githubusercontent.com/32027656/177959694-5e876b1a-78e8-47ba-890d-7ed8b3c5c266.jpg)

Yes, it works for Germany and the Czech Republic, but not for Poland... :(

[2022-07-29 10:12] github-actions[bot] opened #122 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2022-07-29 12:45] myicq commented on #113
I tried numerous endpoints into IKEA, and everything is shut down. [https://developer.inter.ikea.com › apis](https://developer.inter.ikea.com/apis) is also closed. They did post a job recently for someone to take care of APIs. Not sure what happened, maybe they are restructuring.

[2022-07-31 20:41] #122 closed

[2022-08-14 19:41] github-actions[bot] opened #124 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2022-08-20 14:48] elCohete opened #126 "Help"
The cmd gives me this error "Missing script: "start"

[2022-08-20 14:59] Ephigenia commented on #126
@elCohete Please provide more details.

[2022-08-20 21:19] #124 closed

[2022-08-21 03:21] allbrus commented on #113
It finally works!
One more question ... Will the columns "restockDate" and "forecast" be available again?
Regards

[2022-08-21 12:56] Ephigenia commented on #113
@allbrus the other API doesn’t seem to support restockDate or forecasts as the old one. So it's unlikely that this will come back.

[2022-08-21 12:56] #113 closed

[2022-08-21 12:57] #126 closed

[2022-09-02 19:37] allbrus commented on #113
Hello,

Thank you for your concern.
Restock date and forecast are really important for me. Is it possible that you will try to “crack” it some day?
I would be very grateful for that.
Please find the attached screenshot. Maybe it will be helpful… or maybe not, remember that I’m not an expert :)

Regards,
Michal Brustman
Wysłane z iPhone'a

[2022-09-11 11:44] SemicolonStruggles opened #130 "403 Error / Deprecated on Alpha 5"
The issue from #111 and #113 is back :(

I seem to be having the same issue on 2.0.0-alpha.5

Command
```npx ikea-availability-checker@alpha stock --country=nl 50411990```

Most countries I attempted return a probability=ERR_HTTP_403:
- no
- dk
- ch
- jp
- au
- ca
- hk
- at
- sg
- nl
- es
- fr
- be
- kw
- us
- gb
- it
- hu
- pl
- cz
- sk
- tw
- fi
- my
- cn
- pt
- ro
- ie
- th
- qa
- jo
- hr
- kr

[2022-09-11 11:50] SemicolonStruggles commented on #130
Upon looking at the code the deprecation probability seems to indicate that the API itself is being deprecated, so nothing that can  be done about that I suppose.

[2022-09-11 14:28] Ephigenia commented on #130
Yes, that seems to be an issue from time to time. I don’t have an idea why this is happening. (It works for me though). I started to add a smoketest script that runs a query for almost all countries: https://github.com/Ephigenia/ikea-availability-checker/runs/8292506603

[2022-09-11 15:09] SemicolonStruggles commented on #130
It suddenly started working for me now. No idea why. I did try both with and without VPN because in the code I saw you were using the US client ID. I suspected the US client ID would only be valid from US IPs. However, I didn't seem to work anyways. Then I turned the VPN back of and suddenly it started working. Coincidence I am guessing as that doesn't make sense.

Other than that I did install th

[2022-09-11 15:11] Ephigenia commented on #130
Thank you for your support. The experience you described matches with the other ones having the same issues. It started working for some time and then it failed again. In which country are you located?

[2022-09-11 15:11] #130 closed

[2022-09-11 15:12] SemicolonStruggles commented on #130
I am located in the Netherlands. But with VPN I had the same results from Germany, Belgium, Sweden and US.

[2022-09-11 15:40] Ephigenia commented on #130
Okay, so then it doesn’t seem to be a country issue then. I wonder if maybe some of the client ids hit a rate limit or something that doesn’t get reported but returns just a 403.

[2022-09-11 15:42] Ephigenia commented on #130
Btw, the `ingka.js` file contains two other Client IDs found in the Italian and Dutch website. Maybe next time you hit the error you could try using one of those maybe? (https://github.com/Ephigenia/ikea-availability-checker/blob/alpha/source/lib/ingka.js#L25)

[2022-09-11 15:53] SemicolonStruggles commented on #130
Yes I noticed that too. It weird though, because I would expect a client ID to be unique to each client. That does not seem to be the case. Since your code contains the same client ID as the one that I get assigned by the IKEA Netherlands website it seems they use the same client ID for entire countries.

It does seem unlikely though that the 403 are a result of rate limiting, that would mean that

[2022-09-11 15:54] Ephigenia commented on #130
True, right now I don’t have any idea why that happens. Thanks for checking and giving such valuable feedback!

[2022-09-11 15:55] Ephigenia commented on #130
Just in case you want to dig deeper, I’ve created a postman collection with the request beeing made: https://www.postman.com/crimson-rocket-271330/workspace/ikea/overview

[2022-09-11 15:57] SemicolonStruggles commented on #130
Already stole the endpoint from the chrome network debugger, but thanks anyways :) Will keep you posted if I come across more details regarding the error.

[2022-09-11 16:00] Ephigenia commented on #130
Thanks!